@import "./resets";
@import "./variables";
body {
  background-color: $neutral-color-1;
  color: $secondary-color-1;
  font-family: $ff-base;
  height: 100vh;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}
header {
  padding: 1.5em;
  .logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7em;
  }
  .logo figure {
    width: 40%;
  }
  .logo button {
    background-color: $neutral-color-1;
    border-color: $primary-color-2;
    border-radius: 50em;
    color: $primary-color-2;
    font-size: 0.7rem;
    padding: 0.2em;
    width: 7.8em;
  }
  h1 {
    font-size: 1.5rem;
    font-family: $ff-accent;
    font-weight: map-get($fw, bold);
    line-height: 1.5;
    padding-bottom: 1em;
  }
  p {
    font-size: 0.875rem;
    padding-bottom: 3em;
  }
  .heroButton {
    background-color: $primary-color-1;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    color: $secondary-color-2;
    font-size: 0.75rem;
    padding: 0.8em;
    width: 15em;
    margin-bottom: 9em;
  }
  figure {
    padding: 0em 1.5em;
  }
}
