@import "./resets";
@import "./variables";
body {
  background-color: $neutral-clr-1;
  color: $secondary-clr-1;
  font-family: $ff-base;
  height: 100vh;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}
header {
  padding: 1.5em;
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7em;
  }
  .logo figure {
    width: 40%;
  }
  .logo button {
    background-color: $neutral-clr-1;
    border-color: $primary-clr-2;
    border-radius: 50em;
    color: $primary-clr-2;
    font-size: 0.7rem;
    padding: 0.2em;
    width: 7.8em;
  }
  h1 {
    font-size: 1.5rem;
    font-family: $ff-accent;
    font-weight: map-get($fw, bold);
    line-height: 1.5;
    padding-bottom: 1em;
  }
  p {
    font-size: 0.875rem;
    padding-bottom: 3em;
  }
  .heroButton {
    background-color: $primary-clr-1;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    color: $secondary-clr-2;
    font-size: 0.75rem;
    padding: 0.8em;
    width: 15em;
    margin-bottom: 9em;
  }
  figure {
    padding: 0em 1.5em;
  }
}
.wrapper {
  background-color: $neutral-clr-1;
  display: flex;
  flex-direction: column;
  .comm-sent__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .communities,
    .sent {
      width: 60%;
      padding: 0em 0em 2em 0em;

      & span {
        color: $secondary-clr-1;
        font-size: 3.5rem;
        font-weight: map-get($fw, bold);
      }
      & p {
        color: $secondary-clr-3;
        font-size: 0.875rem;
      }
      & figure img {
        width: 20%;
        padding-left: 1em;
      }
    }
  }
  .wrapper__bottom_container {
    background-color: $primary-clr-2;
    // padding: 1.5em;
    & .together {
      background-image: url(/images/bg-section-top-mobile-1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top -5em;
      padding: 1.5em;
    }
    & .together figure {
      padding: 3em 1.5em;
    }
    & .together h2 {
      font-weight: map-get($fw, bold);
      font-size: 1.25rem;
      padding-bottom: 0.5em;
    }
    & .together p {
      font-size: 0.875rem;
    }
  }
}
