@import "./resets";
@import "./variables";
body {
  background-color: $neutral-clr-1;
  color: $secondary-clr-1;
  font-family: $ff-base;
  font-weight: $fw-600;
  height: 100vh;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}
header {
  padding: 1.5em;
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7em;
  }
  .logo figure {
    width: 30%;
  }
  .logo button {
    background-color: $neutral-clr-1;
    border-color: $primary-clr-2;
    border: none;
    border: 2px solid $primary-clr-2;
    border-radius: 2em;
    color: $primary-clr-2;
    font-size: 0.5rem;
    padding: 0.5em;
    width: 10em;
  }
  h1 {
    font-size: 1.5rem;
    font-family: $ff-accent;
    font-weight: $fw-700;
    line-height: 1.5;
    padding-bottom: 1em;
  }
  .hero__description {
    font-size: 0.875rem;
    padding-bottom: 3em;
  }
  .hero__button {
    background-color: $primary-clr-1;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    color: $secondary-clr-2;
    font-size: 0.75rem;
    padding: 0.8em;
    width: 15em;
    margin-bottom: 9em;
  }
  .mockups {
    padding-bottom: 7em;
  }
  .hero__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .communities,
    .sent {
      min-width: 50%;
      text-align: left;
      & span {
        color: $secondary-clr-1;
        font-size: 3.5rem;
        font-weight: $fw-700;
      }
      & p {
        color: $secondary-clr-3;
        font-size: 0.875rem;
        text-align: center;
        padding-bottom: 7em;
      }
      & figure img {
        width: 15%;
      }
    }
  }
  background-image: url(/images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.wrapper {
  background-color: $secondary-clr-2;
  .wrapper__container {
    background-color: $secondary-clr-2;
    padding: 1em;
    & .together,
    .conversations,
    .users {
      padding: 1.5em 2em 14em 2em;
    }
    & figure {
      padding: 3em 1.5em;
    }
    & h2 {
      font-family: $ff-accent;
      font-weight: $fw-700;
      font-size: 1.25rem;
      padding-bottom: 0.5em;
    }
    & p {
      font-size: 0.8125rem;
      font-weight: $fw-600;
    }
    & .conversations {
      background-image: url(/images/bg-section-bottom-desktop-1.svg),
        url(/images/bg-section-top-mobile-2.svg);
      background-repeat: no-repeat, no-repeat;
      background-size: contain, contain;
      background-position: top, bottom;
      background-color: $neutral-clr-1;
    }
  }
  .cta {
    background-image: url(/images/bg-section-bottom-mobile-2.svg),
      url(/images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: contain, contain;
    padding: 14em 3em;
    h3 {
      font-family: $ff-accent;
      font-size: 1.5rem;
      font-weight: $fw-700;
      padding-bottom: 1.5em;
    }
    button {
      border: none;
      border-radius: 5em;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
      background-color: $primary-clr-1;
      color: $secondary-clr-2;
      font-size: 0.75rem;
      font-weight: $fw-600;
      padding: 0.75em;
      width: 15em;
    }
  }
}
footer {
  padding: 2em;
  background-color: $secondary-clr-1;
  color: $secondary-clr-2;

  text-align: left;
  & .footer__top {
    h3 {
      font-size: 1.2rem;
      padding-bottom: 1em;
    }
    p {
      font-size: 0.875rem;
      padding-bottom: 2em;
    }
    & .newsletter_container {
      display: flex;
      flex-direction: column;
      padding-bottom: 6em;
      & input {
        border-radius: 0.35em;
        border: none;
        margin-bottom: 0.75em;
        padding: 0.65em;
        width: 100%;
      }
      & button {
        align-self: flex-end;
        background-color: $primary-clr-1;
        border-radius: 0.35em;
        border: none;
        color: $primary-clr-4;
        font-weight: $fw-700;
        padding: 0.65em;
        width: 11em;
      }
    }
  }
  & .footer__bottom {
    & p {
      font-family: $ff-base;
      font-weight: $fw-600;
    }
    & figure {
      width: 65%;
      & .huddle_logo {
        padding-bottom: 1em;
      }
    }
    & .huddle_description {
      line-height: 1.5em;
      font-size: 0.875rem;

      padding-bottom: 3em;
    }
    & .bottomfooter__contacts,
    .bottomfooter__mail {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1em;
      padding-bottom: 0.75em;
    }
    .bottomfooter__mail a {
      color: $secondary-clr-2;
      font-family: $ff-base;
      font-size: 0.9375rem;
      font-weight: $fw-600;
      text-decoration: none;
    }
    & .bottomfooter__contacts,
    .bottomfooter__mail {
      & p {
        font-size: 0.9375rem;
      }
    }
    & .bottomfooter__contacts,
    .bottomfooter__mail {
      & figure {
        width: 10%;
      }
    }
    ul {
      column-gap: 1em;
      display: flex;
      margin-top: 3em;
      justify-content: flex-start;
      list-style: none;
      & li {
        width: 8%;
      }
    }
  }
  .attribution {
    font-size: 0.6875rem;
    text-align: center;
    & a {
      color: $primary-clr-4;
    }
  }
}
@media screen and (min-width: 48em) {
  header {
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 5em 5em 20em 5em;
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14em;
    }

    .logo button {
      background-color: $neutral-clr-1;
      border-color: $primary-clr-2;
      border: none;
      border: 2px solid $primary-clr-2;
      border-radius: 2em;
      color: $primary-clr-2;
      font-size: 1rem;
      font-weight: $fw-600;
      padding: 0.4em;
      width: 8.5em;
    }
    .hero {
      margin: 0 auto;
      max-width: 64em;
      h1 {
        font-size: 3rem;
        padding-bottom: 0.35em;
      }
      .hero__description {
        font-size: 1.25rem;
        font-weight: $fw-600;
        margin: 0 auto;
        width: 54ch;
      }
      .hero__button {
        border-radius: 4em;
        color: $secondary-clr-2;
        font-size: 1.25rem;
        font-weight: $fw-600;
        width: 20em;
        padding: 1em;
        margin-bottom: 5em;
      }
    }

    .hero__feature {
      display: flex;
      flex-direction: row;
      & .communities,
      .sent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & figure img {
          width: 20%;
        }
        & span {
          font-size: 6rem;
        }
        & p {
          font-size: 1.25rem;
          padding-bottom: 0;
        }
        & .communities__container {
          display: flex;
          flex-direction: column;
          width: 50%;
        }
      }
    }
  }
  .wrapper {
    .wrapper__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      & .together,
      .conversations,
      .users {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 1em 3em 1em 3em;
      }
      & .together {
        justify-content: space-evenly;
        text-align: left;
        // padding: 3em;
        & .together_top-container {
          flex: 2 0;
          max-width: 40%;
        }
        & .together_bottom-container {
          flex: 2 0;
          max-width: 40%;
        }
      }
      & .conversations {
        background-image: url(/images/bg-section-bottom-desktop-2.svg),
          url(/images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top, bottom;
        justify-content: space-evenly;
        text-align: left;
        flex-direction: row;
        padding: 14em 3em;

        & .conversations_top-container {
          flex: 2 0;
          max-width: 48%;
        }
        & .conversations_bottom-container {
          flex: 2 0;
          max-width: 42%;
        }
      }
      & .users {
        justify-content: space-evenly;
        text-align: left;
        flex-direction: row-reverse;
        padding: 0em 3em;

        & .users_top-container {
          flex: 2 0;
          max-width: 43%;
        }
        & .users_bottom-container {
          flex: 2 0;
          max-width: 43%;
        }
      }
      & h2 {
        font-size: 2.5rem;
      }
      & p {
        font-size: 1rem;
      }
    }
    .cta {
      background-image: url(/images/bg-footer-top-desktop.svg),
        url(/images/bg-section-bottom-desktop-2.svg);
      background-repeat: no-repeat, no-repeat;
      background-position: bottom, top;
      background-size: contain, contain;
      background-color: $neutral-clr-1;
      padding: 18em 3em 23em 3em;
      & h3 {
        font-size: 2.5rem;
        font-weight: $fw-700;
        padding-bottom: 1em;
      }
      & button {
        font-size: 1.25rem;
        padding: 1em;
        width: 20em;
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 7em 3em;
    & .footer__top,
    .footer__bottom {
      display: flex;
      flex-direction: column;
      flex: 1 0 40%;
      max-width: 40%;
    }
    & .footer__top {
      & p {
        font-size: 0.875rem;
        font-weight: $fw-400;
        width: 42ch;
      }
      .newsletter_container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 2em;
        & input {
          width: 21em;
          margin-bottom: 0;
        }
      }
    }
    & .footer__bottom {
      & .huddle_description {
        width: 40ch;
        padding-bottom: 2em;
        font-weight: $fw-400;
      }
      & .bottomfooter__contacts,
      .bottomfooter__mail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1em;
        padding-bottom: 0.75em;
      }
      .bottomfooter__mail a {
        font-weight: $fw-400;
      }
      & .bottomfooter__contacts,
      .bottomfooter__mail {
        & p {
          font-size: 0.9375rem;
          font-weight: $fw-400;
        }
      }
      & .bottomfooter__contacts,
      .bottomfooter__mail {
        & figure {
          width: 5%;
        }
      }
      ul {
        column-gap: 1.35em;
        margin-top: 5em;
        justify-content: flex-start;
        list-style: none;
        & li {
          width: 6%;
        }
      }
    }
  }
  .attrib {
    padding: 1em;
    font-size: 0.6875rem;
    text-align: center;
    & a {
      color: $primary-clr-4;
    }
  }
}
